html {
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
h1 {
  float: left;
  width: 48.333333333333336%;
  margin: 0 0.8333333333333334%;
  width: 192px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  font-weight: 400;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ff0000;
  font-size: 14px;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-color: #e50097;
}
.topNav {
  float: right;
}
.topNav li {
  display: inline-block;
  padding-left: 60px;
}
.topNav li a {
  font-size: 21px;
  color: black;
  text-decoration: none;
}
.topNav li a:hover {
  color: #e50097;
  -webkit-transition-duration: 0.5s;
}
.left-side {
  float: left;
  width: 73.33333333333333%;
  margin: 0 0.8333333333333334%;
  padding-top: 160px;
}
#heroImage {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#heroImage img {
  width: 100%;
  max-width: 1200px;
  margin: 80px;
}
#heroImage:hover {
  opacity: 0.9;
}
#articleUls {
  overflow: auto;
  padding: 0;
  margin-bottom: 15px;
}
#articleUls article {
  display: inline-block;
  max-width: 530px;
  vertical-align: top;
  margin: 15px;
}
#articleUls article h3 {
  margin: 0;
  padding: 12px 0 11px 0;
  font-size: 14px;
}
#articleUls article p {
  margin: 0;
  padding: 0;
  font-size: 22px;
}
#articleUls article img {
  width: 100%;
}
#articleUls article img:hover {
  opacity: 0.9;
  background-color: #ff00ff;
}
#locateMap {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#locateMap h3 {
  color: #e50097;
  font-size: 14px;
}
#locateMap img {
  width: 100%;
  max-width: 1200px;
  margin: 20px;
}
#gallery h1 {
  margin-left: 15px;
}
#pictureSection {
  padding: 0;
}
#pictureSection a {
  color: #e50097;
}
#pictureSection li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 20px 20px 6px 20px;
}
#contactNav {
  padding: 0;
}
#contactNav li {
  margin-left: 15px;
  margin-right: 32px;
  text-decoration: none;
  display: inline-block;
}
.wrapper {
  margin-left: 30%;
  margin-bottom: 50px;
  margin-top: 10px;
}
.wrapper a {
  color: #e50097;
}
footer {
  width: 100%;
  background: #fcbb00;
}
footer div {
  max-height: 92px;
}
footer div p {
  font-size: 18px;
  margin: 0;
  padding: 0 15px 0 15px;
  float: left;
}
footer div p:last-child {
  padding-left: 100px;
}
footer div a {
  font-size: 24px;
}
