@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
body {
  background-color: #f9f9f9;
  font-family: 'Sorts Mill Goudy', serif;
}
nav {
  max-width: 50%;
  float: right;
  margin-right: 5%;
}
nav li {
  margin-top: 50px;
  float: right;
  display: inline;
}
nav li ul {
  font-size: 2vw;
  display: inline;
}
main {
  margin: 0 auto;
  width: 90%;
}
a {
  text-decoration: none;
  color: #616161;
}
a:hover {
  color: #d91750;
}
#logo {
  display: block;
  width: auto;
  max-width: 50%;
  float: left;
  clear: right;
  margin-left: 5%;
}
#capsRight {
  text-align: center;
  float: right;
  clear: both;
  max-width: 60%;
  font-size: 3vw;
}
#wordContainRight {
  clear: right;
  float: right;
  max-width: 60%;
  font-size: 1.8vw;
}
#headImage {
  float: left;
  display: block;
  width: auto;
  max-width: 100%;
  margin-top: 50px;
}
.contentinfoLeft {
  font-size: 1.8vw;
  float: left;
  max-width: 45%;
  margin-top: 40px;
}
.contentinfoRight {
  font-size: 1.8vw;
  float: right;
  max-width: 45%;
  margin-top: 40px;
}
.halfImageLeft {
  margin-top: 40px;
  clear: left;
  display: block;
  width: auto;
  max-width: 47%;
  float: left;
}
.halfImageRight {
  margin-top: 40px;
  display: block;
  width: auto;
  max-width: 47%;
  float: right;
}
footer {
  float: left;
  height: 15vw;
  width: 100%;
  background-color: #00fdff;
}
#innerContain {
  width: 45%;
  margin-left: 5%;
}
#innerContainTwo {
  float: right;
  width: 45%;
  margin-right: 5%;
}
#footerInfo {
  margin-top: 5vw;
  font-size: 1.5vw;
}
#footerLink {
  font-size: 1.8vw;
}
.footerImage {
  float: right;
  display: block;
  width: auto;
  max-width: 10%;
}
