html {
  box-sizing: border-box;
  background-color: #eef7fb;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1464px;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'georgiaregular';
  line-height: 20px;
  color: #8a8a8a;
  font-size: 11pt;
}

header {
  display: inline;
  float: left;
  width: 15.642076502732241%;
  margin: 0 0.5122950819672131%;
  height: 1px;
}

header img {
  display: inline;
  float: left;
  width: 90.34%;
  margin: 0 0.51%;
  padding: 30px 0px 15px 0px;
}

nav {
  position: fixed;
  font-family: 'bodyFont';
  font-size: 100%;
  color: #72b5cc;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  letter-spacing: 1.5px;
  padding: 5px 0px 0px 26px;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  color: #72b5cc;
}

nav a:hover {
  color: #4896b0;
}

nav li a:active {
  background-color: #DCEDF3;
}

section {
  display: inline;
  float: left;
  width: 82.30%;
  margin: 0 0.51%;
}

article {
  border-bottom: 1px solid;
  border-color: #C9C9C9;
  padding-bottom: 65px;
}

h3 {
  font-family: 'bodyFont';
  font-size: 13pt;
  padding: 60px 0px 20px 0px;
  color: #72b5cc;
}

#social_links {
  position: absolute;
  bottom: 0px;
  padding-bottom: 30px;
}

#social_links i {
  font-size: 30px;
  color: #72b5cc;

}

.gallery {
  overflow: hidden;
}

.gallery ul {
  padding: 0;
}

.gallery ul li {
  display: inline;
  float: left;
  width: 25.97%;
  margin: 0 0.51%;
  padding-bottom: 12px;
}

.gallery ul li img {
  border: 12px solid;
  border-color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.gallery ul li img:hover {
  opacity: 0;
}

.gallery ul li:hover {
  background: url(../img/hover_image.jpg) no-repeat;
  display: inline;
  float: left;
  width: 25.97%;
  margin: 0 0.51%;
}

.about #left_about {
  display: inline;
  float: left;
  width: 48.97%;
  margin: 0 0.51%;
}

.about #left_about span {
  font-size: 28px;
  line-height: 30px;
}

.about #left_about div {
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  padding-right: 50px;
  font-style: italic;
}

.about #right_about {
  display: inline;
  float: left;
  width: 48.97%;
  margin: 0 0.51%;
}

.contact div {
  padding: 0px 15px 0px 15px;
}

.contact h4 {
  font-size: 16px;
}

.contact h3 {
    padding: 0px 15px 0px 0px;
}

footer {
  display: inline;
  float: left;
  width: 98.97%;
  margin: 0 0.51%;
  padding: 10px 0px 30px 0px;
}

footer #left_footer {
  float: left;
}

footer #right_footer {
  float: right;
}



