html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  max-width: 1704px;
  margin: 0 auto;
}
.main-font {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
}
.h1-font {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  font-size: 30px;
}
.h2-font {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
}
.h3-font {
  margin: 0;
  padding: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}
.footer-font {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
}
.padding {
  padding: 60px 0;
}
.list ul {
  margin: 0;
  padding: 0;
}
.list ul li {
  margin: 0;
  list-style-type: none;
}
.info h3,
.info p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 100;
}
.info h3 {
  font-size: 16px;
  color: #9c9793;
}
.info p {
  font-size: 18px;
}
body {
  margin: 0;
  padding-top: 45px;
  color: #555555;
}
img {
  width: 100%;
}
a {
  color: #555555;
  text-decoration: none;
}
a:hover {
  color: #ee3f6b;
}
h1 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
}
h2 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
}
h3 {
  margin: 0;
  padding: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}
p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
}
#title {
  display: inline;
  float: left;
  width: 48.23943661971831%;
  margin: 0 0.8802816901408451%;
}
#title img {
  width: 200px;
}
nav {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  display: inline;
  float: left;
  width: 48.23943661971831%;
  margin: 0 0.8802816901408451%;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0;
  list-style-type: none;
}
nav li {
  display: inline;
  float: left;
  width: 14.906103286384976%;
  margin: 0 0.8802816901408451%;
}
.headerBox {
  clear: both;
}
.headerBox h1 {
  display: inline;
  float: left;
  width: 48.23943661971831%;
  margin: 0 0.8802816901408451%;
  padding: 60px 0;
}
.headerBox p {
  display: inline;
  float: left;
  width: 48.23943661971831%;
  margin: 0 0.8802816901408451%;
  padding: 60px 0;
}
.box {
  display: inline;
  float: left;
  width: 31.572769953051644%;
  margin: 0 0.8802816901408451%;
}
.box li h2 {
  color: #555555;
}
.box ul {
  margin: 0;
  padding: 0;
}
.box ul li {
  margin: 0;
  list-style-type: none;
}
.office {
  float: right;
  padding: 60px 0;
  display: inline;
  float: left;
  width: 39.906103286384976%;
  margin: 0 0.8802816901408451%;
}
section #content ul {
  margin: 0;
  padding: 0;
}
section #content ul li {
  margin: 0;
  list-style-type: none;
}
section #content .left {
  padding: 60px 0;
  display: inline;
  float: left;
  width: 31.572769953051644%;
  margin: 0 0.8802816901408451%;
}
section #content .right {
  padding: 60px 0;
  display: inline;
  float: left;
  width: 48.23943661971831%;
  margin: 0 0.8802816901408451%;
  float: right;
}
section #content .right h3,
section #content .right p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 100;
}
section #content .right h3 {
  font-size: 16px;
  color: #9c9793;
}
section #content .right p {
  font-size: 18px;
}
section #content .right h3 {
  line-height: 20px;
}
section #content .right p {
  line-height: 10px;
}
section #content .right .right-top li {
  display: inline;
  float: left;
  width: 48.23943661971831%;
  margin: 0 0.8802816901408451%;
}
section #content .right .right-bottom li {
  display: inline;
  float: left;
  width: 48.23943661971831%;
  margin: 0 0.8802816901408451%;
}
article nav {
  margin: 40px 0;
}
#people {
  clear: both;
  padding: 0;
}
#people li {
  display: inline;
  float: left;
  width: 23.239436619718308%;
  margin: 0 0.8802816901408451%;
}
#people h2 {
  line-height: 10px;
}
#people .info {
  padding-top: 5px;
}
#people .info p {
  line-height: 0;
}
.name {
  text-transform: capitalize;
}
.aside-content {
  padding: 60px 0;
  display: inline;
  float: left;
  width: 48.23943661971831%;
  margin: 0 0.8802816901408451%;
  float: right;
}
#back {
  clear: both;
  padding: 60px 0;
}
#back .triangle {
  float: right;
  color: #ee3f6b;
}
footer {
  clear: both;
  padding: 40px 0;
  width: 100%;
  background-color: #fcbb00;
}
footer .email,
footer .address {
  list-style-type: none;
}
footer .email ul,
footer .address ul {
  margin: 0;
  padding: 0;
}
footer .email ul li,
footer .address ul li {
  margin: 0;
  list-style-type: none;
}
footer .email {
  display: inline;
  float: left;
  width: 14.906103286384976%;
  margin: 0 0.8802816901408451%;
}
footer .address {
  display: inline;
  float: left;
  width: 56.57276995305164%;
  margin: 0 0.8802816901408451%;
}
footer #social {
  float: right;
}
footer #social ul {
  margin: 0;
  padding: 0;
}
footer #social ul li {
  margin: 0;
  list-style-type: none;
}
footer #social li {
  float: left;
  padding: 0 10px;
}
footer #social a,
footer #social:hover {
  color: #feebb3;
}
footer #social .fa {
  font-size: 24px;
  line-height: 60px;
}
