@font-face {
  font-family: Calibri;
  src: url(../Fonts/Calibri.ttf);
}
@font-face {
  font-family: Plantin;
  src: url(../Fonts/Plantin.ttf);
}
body {
  background: #f9f9f9;
  font-family: Calibri;
  line-height: 25px;
  font-size: 19px;
  color: #555555;
}
h2,
h3,
h4 {
  font-family: Plantin;
  font-weight: normal;
  color: #474747;
}
h2 {
  line-height: 40px;
  font-size: 30px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 19px;
}
a {
  text-decoration: none;
  color: #555;
}
footer a,
footer p {
  color: #474747;
}
footer li {
  font-size: 26px;
  padding-right: 15px;
}
footer i {
  color: #feebb3;
}
footer i:hover {
  color: #fff;
}
.smallFont {
  font-size: 14px;
}
.spanColor1 {
  color: #949494;
}
.spanColor2 {
  color: #ef3e6b;
}
