html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #2d2280;
}
h1 {
  padding: 10px;
}
h2 {
  font-size: 85px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  display: inline;
  float: left;
  width: 47.549019607843135%;
  margin: 0 1.2254901960784315%;
  text-decoration: underline;
  line-height: 100px;
  position: static;
}
h3 {
  font-size: 48px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  display: inline;
  float: left;
  width: 30.88235294117647%;
  margin: 0 1.2254901960784315%;
}
h4 {
  font-size: 16px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  margin-bottom: 20px;
}
section {
  width: 100%;
  background-color: #d9cfe3;
}
.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
nav {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 70px;
}
nav h1 {
  float: left;
}
nav h1 a {
  color: #2d2280;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.img-medium {
  display: inline;
  float: left;
  width: 30.88235294117647%;
  margin: 0 1.2254901960784315%;
}
.img-medium-push {
  display: inline;
  float: left;
  width: 30.88235294117647%;
  margin: 0 1.2254901960784315%;
  margin-left: 34.55882352941176%;
}
.img-large {
  display: inline;
  float: left;
  width: 64.2156862745098%;
  margin: 0 1.2254901960784315%;
}
.img-large-push {
  display: inline;
  float: left;
  width: 64.2156862745098%;
  margin: 0 1.2254901960784315%;
  margin-left: 34.55882352941176%;
}
.featured-text {
  display: inline;
  float: left;
  width: 64.2156862745098%;
  margin: 0 1.2254901960784315%;
  line-height: 28px;
  padding: 40px 0 60px ;
}
.featured-text-push {
  display: inline;
  float: left;
  width: 64.2156862745098%;
  margin: 0 1.2254901960784315%;
  margin-left: 34.55882352941176%;
  line-height: 28px;
  padding: 40px 0 60px ;
}
.main-text {
  display: inline;
  float: left;
  width: 30.88235294117647%;
  margin: 0 1.2254901960784315%;
  line-height: 28px;
  padding-bottom: 60px ;
}
.main-text-push {
  display: inline;
  float: left;
  width: 30.88235294117647%;
  margin: 0 1.2254901960784315%;
  margin-left: 34.55882352941176%;
  line-height: 28px;
  padding: 40px 0 60px ;
}
.secondary-text {
  display: inline;
  float: left;
  width: 30.88235294117647%;
  margin: 0 1.2254901960784315%;
}
.secondary-text p {
  font-size: 16px;
  font-family: "Inconsolata", Consolas, monaco, monospace;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 60px;
}
.secondary-text-push {
  display: inline;
  float: left;
  width: 30.88235294117647%;
  margin: 0 1.2254901960784315%;
  margin-left: 34.55882352941176%;
}
.secondary-text-push p {
  font-size: 16px;
  font-family: "Inconsolata", Consolas, monaco, monospace;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 60px;
}
header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #fafafa url('../img/header-bg2.jpg') no-repeat center fixed;
  background-size: cover;
}
header h2 {
  margin-top: 220px;
}
#main {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 250px 0 0;
}
#studio,
#about {
  padding: 150px 0 0;
}
#studio .row,
#about .row {
  padding-bottom: 60px;
}
#parallax {
  background: url('../img/header-bg2.jpg') no-repeat center fixed;
  background-size: cover;
  padding: 100px 0;
}
#contact {
  padding: 150px 0 0;
}
#contact .contact-list {
  display: inline;
  float: left;
  width: 30.88235294117647%;
  margin: 0 1.2254901960784315%;
  margin-left: 34.55882352941176%;
}
#contact .social {
  display: inline;
  float: left;
  width: 14.215686274509803%;
  margin: 0 1.2254901960784315%;
}
#contact .contact-list,
#contact .social {
  font-size: 24px;
  padding: 20px 0;
}
#contact .contact-list li,
#contact .social li {
  padding-bottom: 5px;
}
#contact .contact-list li:first-child,
#contact .social li:first-child {
  padding-bottom: 30px;
  text-decoration: underline;
}
footer {
  padding: 100px 0 50px;
  background-color: #2d2280;
}
footer p {
  display: inline;
  float: left;
  width: 22.54901960784314%;
  margin: 0 1.2254901960784315%;
  font-size: 28px;
}
footer ul {
  list-style: none;
  padding-bottom: 70px;
  display: inline;
  float: left;
  width: 22.54901960784314%;
  margin: 0 1.2254901960784315%;
}
footer ul li {
  padding-bottom: 5px;
}
footer ul li:first-child {
  padding-bottom: 30px;
  text-decoration: underline;
}
footer h4 {
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
