html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
body {
  color: #ef3e6b;
  background: #f9f9f9;
  color: #555;
  font-family: Calibre, sans-serif;
  font-size: 62.5%;
}
#replace {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  background: url(../images/logo.png);
  width: 162px;
  height: 58px;
  text-align: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
h2 {
  font-size: 3em;
  line-height: 1.35em;
}
h3 {
  font-size: 1.8em;
}
p {
  line-height: 1.6em;
  font-size: 1.9em;
}
a {
  text-decoration: none;
  color: #ef3e6b;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
a:hover,
a:active {
  color: #ef3e6b;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
header {
  padding: 0 100px;
  padding: 20px 0;
  height: 108px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 2;
}
header div {
  padding: 20px 0;
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
}
header nav {
  padding: 20px 0;
  text-align: left;
  height: 58px;
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
header nav a {
  font-size: 1.9em;
  color: #555;
  padding: 15px 0;
  display: inline-block;
}
header nav li {
  display: inline-block;
  position: relative;
  margin: 0 60px 0 0;
}
.wrapper {
  margin: 0 auto;
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 0 100px;
  max-width: 1940px;
}
.hero {
  *zoom: 1;
  text-align: left;
  padding: 30px 0 0 0;
}
.hero:before,
.hero:after {
  content: "";
  display: table;
}
.hero:after {
  clear: both;
}
.hero a:hover {
  border-bottom: 1px solid #f6a8b7;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.hero h2 {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
  padding: 0 105px 0 0;
}
.hero p {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
  margin: 0 0 50px 0;
}
.sec-nav {
  padding: 15px 10px;
  margin: 0 10px;
  text-align: left;
  height: 58px;
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.sec-nav a {
  font-size: 1.8em;
  color: #555;
  padding: 13px 0;
}
.sec-nav a:hover {
  color: #ef3e6b;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
.sec-nav li {
  display: inline-block;
  position: relative;
  margin: 0 30px 0 0;
}
.first {
  clear: left;
}
.content {
  *zoom: 1;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.item {
  display: inline;
  float: left;
  width: 33.33333333%;
  margin: 0 0%;
  padding: 10px 10px 40px 10px;
  position: relative;
  overflow: hidden;
  text-align: left;
  display: inline-block;
}
.item h3 {
  color: #555;
  line-height: 21px;
  padding-top: 12px;
  padding-bottom: 11px;
}
.item p {
  color: #555;
  font-size: 2.2em;
}
.info {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e8eae5;
  background-position: 0 0;
}
.info img {
  width: 100%;
  height: auto;
  display: block;
}
.info .inner {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(239, 62, 107, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 8px;
  vertical-align: middle;
  position: absolute;
  opacity: 0;
  padding: 20% 0 10px 0;
  color: #fff;
  z-index: 2;
}
.info .inner p {
  letter-spacing: 0.1em;
  color: #fff;
  font-size: 1.8em;
  padding: 50px 0;
}
.full {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
.full .inner {
  background-color: rgba(255, 255, 255, 0.1);
}
.full .inner p {
  display: none;
}
.item:hover .inner {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=(100));
  opacity: 1;
}
.item:hover h3 {
  color: #ef3e6b;
}
.intro {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
  margin-left: 50%;
  text-align: left;
  padding: 0 0 65px 0;
}
.intro h1 {
  padding: 0 0 21px 0;
  margin: 0 0 20px 0;
  font-size: 3.0em;
}
.intro p {
  padding: 0 0 18px 0;
}
.intro p strong {
  font-weight: bold;
}
footer {
  background: #fcbb00;
  padding: 40px 0;
}
footer p {
  display: inline;
  float: left;
  width: 16.66666667%;
  margin: 0 0%;
  text-align: left;
  font-size: 1.4em;
}
footer p a {
  color: #555;
  font: serif;
  font-size: 1.25em;
}
footer ul {
  display: inline;
  float: left;
  width: 16.66666667%;
  margin: 0 0%;
  float: right;
  text-align: right;
}
footer li {
  margin: 0 0 0 20px;
  display: inline-block;
  padding: 10px 0;
}
footer i {
  color: #feebb3;
}
footer i:hover {
  color: #fff;
}
.end {
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .wrapper {
    max-width: 100%;
    padding: 0 22px;
  }
  nav ul > li:last-child {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 100%;
    padding: 0 100px;
  }
  .full .info .inner {
    font-size: 2.6em;
    line-height: 26px;
    margin-top: 13px;
  }
}
@media only screen and (max-width: 1499px) {
  .item {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
  }
  .sec-nav {
    display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
  }
  .full {
    display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
  }
}
@media only screen and (min-width: 1500px) {
  .wrapper {
    max-width: 1940px;
  }
}
@media only screen and (max-width: 1023px) {
  .wrapper {
    padding: 0 30px;
  }
  .hero h2 {
    display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
  }
  .hero p {
    display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
  }
  .intro {
    display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
  }
  nav ul li {
    margin: 0 30px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .item {
    display: inline;
    float: left;
    width: 100%;
    margin: 0 0%;
  }
  footer {
    padding: 5px 0;
  }
  footer p {
    display: inline;
    float: left;
    width: 33.33333333%;
    margin: 0 0%;
  }
  footer ul {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
  }
  .wrapper {
    padding: 0 5px;
  }
  .logo a {
    width: 44px;
    height: 68px;
  }
}
