@font-face {
  font-family: main-font;
  src: url("../fonts/Aaargh.ttf");
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
img {
  width: 100%;
}
.container {
  max-width: 1068px;
  margin: 0 auto;
}
body {
  background: #f9f9f9;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
h1 {
  color: #ef3e6b;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'main-font', sans-serif;
  color: #474747;
}
li {
  list-style-type: none;
  display: inline-block;
}
a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-family: 'main-font', sans-serif;
  color: #555555;
}
a:hover {
  color: #ef3e6b;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
p {
  margin: 0;
  padding: 0;
  font-family: "Plantin", serif;
  color: #555555;
}
header {
  height: 120px;
  padding-top: 20px;
}
.logo {
  display: inline;
  float: left;
  width: 47.37827715355805%;
  margin: 0 1.3108614232209739%;
  padding: 15px;
}
nav {
  display: inline;
  float: left;
  width: 47.37827715355805%;
  margin: 0 1.3108614232209739%;
  padding-top: 25px;
}
nav li {
  margin-right: 60px;
}
.sub-nav {
  display: inline;
  float: left;
  width: 97.37827715355806%;
  margin: 0 1.3108614232209739%;
}
.sub-nav ul {
  padding: 15px;
}
.sub-nav li {
  margin-right: 32px;
}
.project-container {
  display: inline;
  float: left;
  width: 47.37827715355805%;
  margin: 0 1.3108614232209739%;
  padding: 15px;
  margin-bottom: 45px;
}
.project-container h3 {
  padding-top: 12px;
  padding-bottom: 11px;
  font-weight: normal;
}
.project-container p {
  font-size: 22px;
}
footer {
  width: 100%;
  background: #fcbb00;
  padding-top: 60px;
  height: 160px;
}
footer a {
  font-family: "Plantin", serif;
  font-size: 18px;
}
footer p {
  font-family: 'main-font', sans-serif;
  font-size: 14px;
}
.email {
  display: inline;
  float: left;
  width: 30.711610486891384%;
  margin: 0 1.3108614232209739%;
  padding-left: 20px;
}
.email p,
.visit p {
  padding-bottom: 5px;
}
.visit {
  display: inline;
  float: left;
  width: 47.37827715355805%;
  margin: 0 1.3108614232209739%;
}
.social-media {
  display: inline;
  float: left;
  width: 14.04494382022472%;
  margin: 0 1.3108614232209739%;
}
.social-media i {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 20px;
}
.social-media i:hover {
  color: #ffffff;
  transition: color 0.25s ease-in-out;
}
