// GRID VARIABLES & MIXINS
//------------------------------------
// http://gridcalculator.dk - grid calculator

// Change this values to change the size of the grid
@column-width: 122;
@gutter-width: 20;
@columns: 12;

// Utility variable — you should never need to modify this
@gridsystem-width: (@column-width * @columns) + (@gutter-width * @columns) * 1px;

// Set @total-width to 100% for a fluid layout
//@total-width: @gridsystem-width;
@total-width: 100%;

.column(@x,@columns:@columns) {
	float: left;
	width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @gridsystem-width);
	margin: 0 @total-width*((@gutter-width*.5)/@gridsystem-width);
}

// GLOBAL STYLES
//----------------------------------------------------------

@font-face {
    font-family: plantin;
    src: url(plantin.ttf);

}

// Fixes Box Model sizing issues
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background :#f9f9f9;
}

h3{
	font-family: "Lucida Bright", Georgia, serif;
	font-size: 28px;
	color: #474747;
	
}

p {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight:lighter;
	font-size: 19px;
	color: #555;
}

.container {
	max-width: @gridsystem-width;
	margin: 0 auto;
	
}
	
#container {
	max-width: @gridsystem-width;
	margin: 0 auto;
	overflow: hidden;
}



// Navigation Styles
nav
{
	width: 100%;
	height: 108px;

}


#containerNav
{
	position: relative;
	top:20%;
	max-width: @gridsystem-width;
	margin: 0 auto;
	overflow: hidden;
}

#NavActual {
	.column(6);
	ul {
	text-align: left;
	padding: 0;

		li {
		list-style-type: none;
    	display: inline;
			a {
			text-decoration: none;
			color:#555;
			margin-right: 10%;
			}
		}
	}
}

#logo {
	.column(6);
	overflow: hidden;

}


#u{
	background: url("../img/u.svg") 0 9px no-repeat;
	width: 30px;
	height: 52px;
	display: block;
	float: left;
	margin-right: 5px;
	
		

}
#niform{
	background: url("../img/niform.svg") 0 3px no-repeat;
	width: 120px;
	height: 58px;
	display: block;
	float: left;


}
#strategisk{
	background: url("../img/strategisk.svg") 0 3px no-repeat;
	width: 162px;
	height: 58px;
	display: block;


}

footer {
	
	width:100%;
	padding: 40px 0;
	background: #fcbb00;
	color:#474747;

	div {
		
		max-height: 52px;
		
		p{
			font-size: 18px;
			margin: 0;
			padding: 0 15px 0 15px;
			float: left;
        	&:last-child {
				padding-left: 100px; 
        	}
        }
        a {

        	font-size: 24px;
        }
        }
    div#box {
    	.column(8);
    }
	
	div#social {
		max-height: 52px;
		.column(4);
		i{	-webkit-transition: opacity .2s ease-in-out;
			transition: opacity .2s ease-in-out;
			opacity: 0.8;
			text-align: center;
			padding: 3% 0 0 3%;

			&:first-child{
				padding-left: 65%;
			}

			&:hover {
				opacity:1;
			}
		}
	}

}

//Page 1 - Home

//Articles 

#header1 {
	.column(6);
	padding: 15px;
	margin: 0;

}

#firstArticle {
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	padding:15px 15px 45px 15px;

	h3 {
		color:#555;
		font-size: 14px;
	}

	p{
		color: #474747;
		font-size: 22px;
	}

	img {
		width:100%;
		max-width: 1703px;
		margin-top: 50px;
	}

	&:hover {
		opacity: 0.9;
	 
	} 

}



#articleList {
	overflow: auto;
	padding: 0;
	margin-bottom: 15px;

	article {
		
		display: inline-block;
		max-width: 530px;  
        vertical-align: top;
        margin: 15px;
       
		
		h3 {
			margin: 0;
			padding: 12px 0 11px 0;
			color:#555;
			font-size: 14px;
		}
		p {
			margin: 0;
			padding: 0;
			color: #474747;
			font-size: 22px;

		}
		img {
			
			width: 100%;
			transition: -webkit-filter 1s ease-in-out;

			&:hover {
				-webkit-filter: hue-rotate(240deg); 
			}
		}		
	}
}

#scrollTop {
	width: 100%;
	height:48px;
	margin-bottom:73px; 

}

.my-icon {
	position: relative;
    left: 95.5%;
	&>i {
	    position: absolute;
	    display: inline-block;
	    border: 24px solid #ffffff;
	    border-bottom: 24px solid #ffffff;
	    left: 0px;
	    top: 0px;
	}
	&>i+i {
	    position: absolute;
	    display: inline-block;
	    border: 16.615384615384617px solid transparent;
	    margin-top: -16.615384615384617px;
	    border-bottom: 16.615384615384617px solid #ef3e6b;
	    left: 7.384615384615385px;
	    top: 14.76923076923077px;
	}
}

//Page 2 - About Me

#topSection {

	article {
		
	.column(6);
	}

	p {
		margin: 0;
	}
	div {
		
		padding: 15px;
	}

	h4{
		font-size: 14px;
		opacity:0.5;
	}

		div#email {
			.column(12);

		}
		div#address {
			.column(6);
		}

}

#map {
	margin: 10px;
}

#gallery {
	h1{
		margin-left: 15px;
		}
	}
	

#pictureSection {

	padding: 0;

	h2 {
		opacity:0.5;
	}

	a{
		color:#ef3e6b;
		p {
			color:#ef3e6b;
		}
	}
	li {
		text-decoration: none;
		list-style-type: none;
		display: inline-block;
		padding: 12px 12px 60px 12px;
		img{

		}
	}
}

#pictureNav {
  
		padding: 0;

		li{
			margin-left: 15px;
			margin-right: 32px;
			text-decoration: none;
			list-style-type: none;
			display: inline-block;
		}
	
}

#mapText {
	p{
		padding-left:50%;
	}
}

//Page 3 - Contact page



#contactSection {

	h1 {
		max-height: 111px;
		padding: 15px;
		opacity: 0.6;
		margin-left:50%;
		margin-bottom:5%;
	}
	
	p {
		margin-left:50%;
	}
	ul {
		margin-left:50%;
	}

}

//Media Queries

@media only screen 
and (min-width : 1024px) 
and (max-width:1704px) {

	.container {
		max-width: 1180px;
		
	}
		
	#container {
		max-width: 1180px;
	}

	#containerNav
	{
		top:20%;
		max-width: 1180px;

	}		
	#articleList {
		
		article {
			.column(6);			
			max-width: none;  
	     	
		}
	}

//about me page 

#pictureSection {
	li {
		.column(3);
		padding: 12px 12px 60px 12px;
		img{
			width: 100%;
		}
	}
}


}

@media only screen 
and (max-width : 1024px) {
.container {
		max-width: 1024px;
	}
	
	#container {
		max-width: 1024px;
	}

	#containerNav
	{
		top:20%;
		max-width: 1024px;
	}

footer {

	div {
		max-height: none;
		p{
        	&:last-child {
				padding-left: 15px; 
        	}
        }    
    div#box {
    	.column(5);
    }	
	div#social {
		max-height: 52px;
		.column(7);
		}
	}
}	
	#articleList {
		article {
			.column(12);	
			max-width: none;  		
		}
	}
#header1 {
	.column(12);
	padding: 15px;
	margin: 0;
}

#pictureSection {
	li {
		.column(6);

		img{
			width: 100%;
		}
	}
}



}