@font-face {
  font-family: 'Strima';
  src: url('../fonts/strima/Strima-Book.otf');
}
@font-face {
  font-family: 'Strima Light';
  src: url('../fonts/strima/Strima-Light.otf');
}
@font-face {
  font-family: 'Strima Bold';
  src: url('../fonts/strima/Strima-Bold.otf');
}
@font-face {
  font-family: 'League Gothic Condensed';
  src: url('../fonts/league/leaguegothic-condensed-regular-webfont.eot');
  src: url('../fonts/league/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/league/leaguegothic-condensed-regular-webfont.woff') format('woff'), url('../fonts/league/leaguegothic-condensed-regular-webfont.ttf') format('truetype'), url('../fonts/league/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINCompPro';
  src: url('../fonts/DINCompPro-Bold.ttf');
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Strima", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #080808;
}
section,
footer {
  padding-bottom: 3em;
  overflow: hidden;
}
h2 {
  font-family: "DINCompPro", "League Gothic Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #bef202;
  text-transform: uppercase;
  font-size: 37px;
  text-align: center;
}
h3 {
  font-family: "DINCompPro", "League Gothic Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #bef202;
  text-transform: uppercase;
  font-size: 20px;
}
h4 {
  font-family: "DINCompPro", "League Gothic Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #bef202;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 18px;
  text-align: center;
}
h5 {
  font-family: "Strima Light", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
  text-align: center;
}
ul {
  padding-left: 0;
}
a {
  color: #ffd52b;
  text-decoration: none;
}
a:hover {
  color: #ffe478;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.contain {
  max-width: 960px;
  margin: 0 auto;
}
.btn {
  display: block;
  padding: 0.6em 2.143em;
  margin: 2em auto 0 auto;
  background-color: #2ecc71;
  text-transform: uppercase;
  font-family: "DINCompPro", "League Gothic Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  border: none;
}
.btn:hover {
  background-color: #208e4e;
}
.btn:focus {
  outline: none;
}
#logo {
  float: left;
  padding-top: 1.429em;
}
nav {
  display: inline;
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  float: right;
}
nav ul {
  float: right;
}
#menu li {
  display: inline-block;
  padding: 1em 0 1.429em 2.5em;
  text-transform: uppercase;
  list-style-type: none;
}
#menu li a {
  color: #ffffff;
}
#menu li a:hover {
  color: #ffe478;
}
#phone {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  float: right;
  padding-top: 0.9em;
  font-family: "Strima", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: right;
  text-transform: uppercase;
}
#slider {
  width: 100%;
  height: 485px;
  padding-top: 25em;
  background: url(../img/slide.jpg) no-repeat;
  background-size: cover;
  background-position: 0 26%;
}
#slider h3 {
  display: inline-block;
  margin: 0.15em;
  padding: 0.5em 1em;
  font-family: "Strima", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #080808;
  background-color: #ffffff;
}
#slider #go-back {
  display: inline-block;
  float: right;
  margin-right: 10px;
  width: 55px;
  height: 55px;
  background: url(../img/back.png);
}
#slider #go-forward {
  display: inline-block;
  float: right;
  margin-right: 10px;
  width: 55px;
  height: 55px;
  background: url(../img/forward.png);
}
.package {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
}
.package img {
  display: block;
  width: auto;
  margin: 0 auto;
}
.package ul {
  margin: 0;
  font-size: 12px;
}
.package ul li {
  line-height: 2.2em;
}
#testimonials {
  color: #080808;
  background-color: #ffffff;
}
#testimonials h2 {
  color: #080808;
}
.clients {
  width: 100%;
}
.clients .quote {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
}
.clients .quote img {
  display: inline;
  float: left;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  margin-right: 3em;
}
.clients .quote h3,
.clients .quote p {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
}
.clients .pagination {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.0416666666666665%;
}
.clients .pagination img {
  width: auto;
  margin: 45% 0;
}
#hiit article {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
}
#hiit article p {
  margin-bottom: 0;
}
#hiit aside {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
}
#hiit aside ul {
  margin-bottom: 0;
}
#hiit aside li {
  line-height: 1.8em;
}
#hiit button {
  clear: both;
}
#pricing {
  background-color: #ffffff;
}
#pricing h2 {
  color: #080808;
}
#pricing table {
  width: 100%;
  color: #080808;
  border: 1px solid #080808;
}
#pricing table tr {
  border: 1px solid #080808;
}
#pricing table td {
  padding: 1em 2em;
  border: 1px solid #bbbbbb;
}
#color-heading {
  color: #2ecc71;
}
footer .contact-info {
  display: inline;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  float: left;
  padding-left: 2.6em;
}
footer .contact-info h3,
footer .contact-info h5 {
  text-align: left;
}
footer .contact-info h5 {
  margin: 0;
  font-size: 15.959999999999999px;
  line-height: 1.8em;
}
footer #profile-img {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  width: auto;
  margin-top: 2em;
}
footer #location {
  margin-top: 2em;
}
footer .social-media {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
}
footer .social-media img {
  margin-right: 1em;
}
