@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Open+Sans);
.my-main-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 190%;
}
.my-titles {
  font-family: 'Sorts Mill Goudy', serif;
  color: #666;
}
.my-quotes {
  font-family: 'PT Serif', serif;
  font-style: italic;
}
.states a {
  color: #555555;
}
.states a:hover,
.states a:active {
  color: #ee3f6b;
  text-decoration: none;
}
.inner-links {
  color: #ee3f6b;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
/* Grid layout by Semantic.gs */
body {
  width: 100%;
  max-width: 1800px;
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 190%;
}
.container {
  width: 82.22222222222221%;
  margin: 0 0.5555555555555556%;
  margin: 0 auto;
}
.clearfix {
  clear: both;
}
.in-use {
  color: #ee3f6b;
}
.small {
  font-size: 50%;
}
h3 {
  font-family: 'Sorts Mill Goudy', serif;
  color: #666;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 190%;
}
header {
  width: 98.88888888888889%;
  margin: 0 0.5555555555555556%;
  height: 108px;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #f9f9f9;
}
header #logo {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  height: 58px;
  float: left;
  background: url("../images/logo.png") no-repeat;
  padding: 15px;
}
header #logo p {
  visibility: hidden;
}
@media only screen and (max-width: 529px) {
  header #logo {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
  }
}
header nav {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  float: left;
  padding-bottom: 20px;
  overflow: hidden;
}
header nav ul a {
  color: #555555;
}
header nav ul a:hover,
header nav ul a:active {
  color: #ee3f6b;
  text-decoration: none;
}
header nav ul li {
  display: inline-block;
  padding: 5%;
}
header nav img {
  display: none;
}
@media only screen and (min-width: 530px) and (max-width: 900px) {
  header nav {
    width: 48.888888888888886%;
    margin: 0 0.5555555555555556%;
  }
  header nav #logo {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
  }
  header nav ul li {
    padding: 2%;
  }
}
@media only screen and (max-width: 529px) {
  header #logo {
    width: 82.22222222222221%;
    margin: 0 0.5555555555555556%;
    clear: both;
  }
  header nav {
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: right;
    background: url('../images/menu.png') no-repeat;
  }
  header nav ul {
    height: 1px;
    overflow: hidden;
  }
}
header:hover {
  overflow: visible;
}
header:hover nav {
  clear: both;
  width: 32.22222222222222%;
  margin: 0 0.5555555555555556%;
  height: 1000px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
}
header:hover ul {
  width: 98.88888888888889%;
  margin: 0 0.5555555555555556%;
  height: 100%;
  background: #FFF;
  overflow: visible;
}
section {
  padding-top: 150px;
  font-size: 1.5em;
}
section #top-section {
  height: 150px;
  margin-bottom: 45px;
}
section #top-section h3 {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  height: 150px;
  line-height: 43px;
  float: left;
}
@media only screen and (min-width: 530px) and (max-width: 900px) {
  section #top-section h3 {
    width: 40.55555555555556%;
    margin: 0 0.5555555555555556%;
  }
}
section #top-section p {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  float: left;
}
section #top-section p .links {
  color: #ee3f6b;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
section #top-section p a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 530px) and (max-width: 900px) {
  section #top-section {
    height: 300px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 529px) {
  section #top-section h3,
  section #top-section p {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
    clear: both;
  }
}
section #main-img img {
  width: 98.88888888888889%;
  margin: 0 0.5555555555555556%;
  padding-bottom: 13px;
}
section #main-img p {
  color: #ee3f6b;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0px;
}
section #main-img h3 {
  font-size: 90%;
  margin: 0px 0px 45px ;
}
section #subnav {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 190%;
}
section #subnav ul a {
  color: #555555;
}
section #subnav ul a:hover,
section #subnav ul a:active {
  color: #ee3f6b;
  text-decoration: none;
}
section #subnav ul li {
  display: inline-block;
  padding: 30px;
}
@media only screen and (min-width: 530px) and (max-width: 900px) {
  section #subnav {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
  }
}
@media only screen and (max-width: 529px) {
  section #subnav {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
  }
  section #subnav ul li {
    padding: 2%;
  }
}
section #intro {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  float: right;
}
@media only screen and (max-width: 529px) {
  section #intro {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
    clear: both;
  }
}
section .message {
  margin-bottom: 45px;
}
section .message .quote {
  margin-bottom: 30px;
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: #555555;
  line-height: 30px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 529px) {
  section .message .quote {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
    clear: both;
  }
}
section .message .indent {
  padding-left: 30px;
}
.discription {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  float: right;
}
.discription p.decorate {
  color: #ee3f6b;
}
@media only screen and (max-width: 529px) {
  .discription {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
    clear: both;
    margin: 20px 0;
  }
}
article a p {
  color: #ee3f6b;
}
article ul {
  padding: 0;
}
article ul li {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  list-style-type: none;
  float: left;
  display: table;
  height: 100%;
  background: #ee3f6b;
}
article ul li img {
  width: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  padding: 0;
}
article ul li img:hover {
  opacity: 0.5;
}
article ul li .pink-bg {
  height: 100%;
  width: 100%;
  background: #f9f9f9;
  margin-top: -10px;
  padding-top: 15px;
}
article ul li a {
  color: #ee3f6b;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
article ul li h3 {
  margin: 10px 0px 40px;
}
article #up {
  width: 98.88888888888889%;
  margin: 0 0.5555555555555556%;
}
article #up img {
  float: right;
  margin-bottom: 45px;
}
@media only screen and (max-width: 529px) {
  article ul li {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
    clear: both;
  }
  article #up img {
    width: 20%;
  }
}
.content {
  background: #f9f9f9;
  padding: 45px 0;
  width: 98.88888888888889%;
  margin: 0 0.5555555555555556%;
}
.content img,
.content .text {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  float: left;
}
.content img p,
.content .text p {
  margin-top: 10px;
}
@media only screen and (max-width: 529px) {
  .content img,
  .content .text {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
    clear: both;
  }
}
aside {
  width: 100%;
  padding-top: 45px;
}
aside .timeline {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  float: left;
  margin: 20px 0px;
}
aside .timeline p {
  width: 15.555555555555555%;
  margin: 0 0.5555555555555556%;
  height: 50px;
  float: left;
}
aside .timeline ul li {
  list-style-type: none;
  color: #ee3f6b;
}
@media only screen and (max-width: 529px) {
  aside .timeline {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
  }
  aside .timeline li {
    width: 98.88888888888889%;
    margin: 0 0.5555555555555556%;
    clear: both;
  }
}
footer {
  height: 132px;
  background: #fbba00;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 190%;
}
footer #contact,
footer #social {
  width: 48.888888888888886%;
  margin: 0 0.5555555555555556%;
  float: left;
  margin-top: 30px;
}
footer #social img {
  float: right;
  margin: 15px;
  opacity: 0.5;
}
footer #social img:hover {
  opacity: 1;
}
@media only screen and (max-width: 529px) {
  footer {
    height: 50px;
    overflow: hidden;
  }
  footer #social {
    margin-top: 0px;
  }
  footer #contact {
    height: 30px;
    overflow: hidden;
    margin-top: 10px;
  }
}
